@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,900,900i&display=swap');
* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin:0;
}
h1, h2, h3, h4, h5, h6{
  margin:0;
}
.top h2{
  padding : 18px 18px 0;
  color:white;
}
html, body{
  max-width:100%;
  width:100%;
  margin:0;
}
body{
  background-color: #ced6e0;
  z-index: 0;
}
textarea, input, button{
  outline: none;
}
li{
  list-style: none;
}
.join{
  opacity: 0.5;
  text-align: center;
}
.orang{
  align-self: flex-start;
  font-size: 20px;
  background: #f1f2f6;
  padding:10px 20px;
  color: black;
  max-width: 70%;
  word-wrap: break-word;
  border-radius: 0 25px 25px 0;
  background-size: cover;
  margin: 2px 0;
  animation: slide .2s;
}
@keyframes slide {
  0%{
    transform: translate(-100%, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}
@keyframes slide2 {
  0%{
    transform: translate(100%, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}
.gw{
  color: white;
  align-self: flex-end;
  font-size: 20px;
  max-width: 70%;
  background: #5352ed;
  word-wrap: break-word;
  padding:10px 20px;
  border-radius: 25px 0 0 25px;
  margin: 2px 0;
  animation: slide2 .2s;
}
.flex{
  display: flex;
  flex-direction: column;
}
.flexForm{
  display: flex;
  justify-content: center;
  background-color: #f1f2f6;
  border-radius: 38px;
  align-items: center;
}

#container{
  padding-top: 20px;
  font-size: 24px;
  height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.typicalMainCont{
  width: 550px;
  background-color: white;
}
.radiusBottom{
  border-bottom-right-radius: 38px;
  border-bottom-left-radius: 38px;
}
.name{
  font-size: 16px;
  font-style: italic;
}
.col{
  flex: auto;
  position: relative;
  width:100%;
  max-width: 100%;
  height: 100%;
  float: right;
}
.col2{
  flex:35%;
  padding: 10px;
  position: relative;
  width:auto;
  align-self: flex-end;
}
.bg-grad{

}
#pesan{
  height: 100%;
  padding-left: 10px;
  padding: 20px;
  max-width:400px;
  width:100vh;
  border:0;
  outline: none;
  font-size: 20px;
  background: transparent;
  resize: none;
  cursor: text;
  white-space: pre-wrap;
}
#pesan:not(:empty)::after{
  content: '';
}
#pesan:empty:not(:focus):after{
  content: attr(placeholder);
  font-size: 24px;
}
#pesan::after{
  content: '';
}
#submit{
  background:0;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: linear-gradient( 109.2deg,  rgba(107,52,255,1) 16.5%, rgba(51,159,247,1) 81% );
  font-size: 28px;
  color:white;
  border:0;
}
#emoji{
  background:0;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: linear-gradient( 109.2deg,  rgba(107,52,255,1) 16.5%, rgba(51,159,247,1) 81% );
  font-size: 28px;
  color:white;
  border:0;
  z-index: 2;
}
.center{
  display: table-cell;
    vertical-align: middle
}
.imgtyping{
  width:150px;
  display: block;
}
.positionMain{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menuemoji{
  position: fixed;
  width: auto;
  height: auto;
  background-color: #f1f2f6;
  padding: 20px;
  max-width: 340px;
  right: -32px;
  top:  calc(340px - 100px);
  filter: drop-shadow(1px 1px 18px rgba(0,0,0,.5));
}
.menuemoji::after{
  content: '';
  width:0;
  height: 0;
  bottom: -46px;
  left:175px;
  position: absolute;
  margin:0;
  border-top: 24px solid #f1f2f6;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
}
.menuemoji #emojisbtn{
  height: 250px;
  overflow-y: scroll;
}
.menuemoji .emojibtn{
  width:45px;
  font-size: 24px;
  background: transparent;
  border: 0;
  height: 45px;
}
button{
  cursor: pointer;
}
.menuemoji .emojibtn:hover{
  cursor: pointer;
  opacity: 0.5
}
.btn-menuemoji{
  width:50%;
}
#typing{
  height: 24px;
  position: relative;
}
.type{
  top:-24px;
  left: 18px;
  position: absolute;
  font-size: 24px;
}
.type img{
  height: 60px;
  vertical-align: middle;
}
.userSec{
  position: absolute;
  top:0;
  left:0;

  background-color: #3742fa;
  width:100%;
  height: 100%;
}
#actionUserSec{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: .2s;
}
#actionUserSec input::placeholder{
  color:white;
}
#actionUserSec input{
  width: 320px;
  height: 60px;
  font-size: 45px;
  background: transparent;
  text-align: center;
  color: #fff;
  border:0;
}
.top{
  width:100%;
  height: 70px;
  background-color: #3742fa;
}
